.ryn-btn-primary {
    background: #F7B006;
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
    padding: 16px 24px;
    text-decoration: none !important;
    border: none !important;

    &:hover {
        background: #e7a406;
    }
}