@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'SFProText';
    src: url('/fonts/SFProText-Regular.ttf') format('opentype');
}

.font-family-poppins {
    font-family: Poppins;
}

.font-family-roboto {
    font-family: Roboto;
}

.font-family-sfprotext {
    font-family: SFProText;
}